.posts-list{
    display: flex;
    flex-direction: row;
    margin: 1rem 4rem;
    background-color: #f3f9fd;
    padding: 20px 10px;
    border-radius: 10px;
}

.posts-content{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 100%;
}


.post-name{
    font-weight: bold;
    font-size:1.1rem;
}

.post-username{
    font-size: 0.9rem;
    color:gray;
    padding-bottom: 10px;
}

.post-details{
    font-size: 1.2rem;
    font-weight: 400;
    padding:2rem 0rem;
    border-top: 1px solid rgb(221, 220, 220);
    border-bottom: 1px solid rgb(221, 220, 220);
}

.like-count{
    font-size: 0.9rem;
    padding-bottom: 10px;
}

.post-like{
    display: flex;
    border: 1px solid gray;
    max-width: fit-content;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}